@charset "utf-8";
/* CSS Document */

#capa1 {
    width: 480px;
    height: 200px;
    float: left;
    background-color: #CA1C1F;
    color: #F2E9E9;
}
#capa1 img {
    float: left;
}

#capa3 {
    width: 480px;
    height: 40px;
    float: left;
    background-color: #9A531E;
    color: #74CDC3;
    font-size: large;
}
#capa4 {
    width: 480px;
    height: 40px;
    float: left;
    background-color: #9A531E;
    color: #74CDC3;
    font-size: large;
}



#capa2 {
    width: 480px;
    height: 200px;
    float: left;
    background-color: #6345B1;
}
